/* Navigation Bar starts*/
li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #345d9e;
    text-align: center;
    text-decoration: none;
    @apply p-[1px];
    @apply sm:p-[6px];
    @apply md:p-2;
    @apply lg:p-3;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #345d9e;
    color: black;
    border-radius: 2rem;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #345d9e;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a#black-yellow {
    margin-left: 0.5rem;
    background-color: #345d9e;
    border-radius: 10rem;
    color: black;
}

a#black-yellow:hover {
    background-color: black;
    color: #345d9e;
}

/* Navigation Bar ends*/