@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Merriweather:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*We can also use Tailwing theme mention in the tailwing.config file to custon the themes see doc.*/
@layer base {
    /* Here we define font math in whole body part */
    body {
        /* font-family: math; */
        @apply font-urban;
    }

    .backimage {
        /* If we make z-index of herosection's image then the dropdown section of services will hide behind it
        and it can't be seen in home page */
        /* z-index: 0; */

        overflow: hidden;
        background-image: (rgba(22, 22, 22, 0.9),
                rgba(22, 22, 22, 0.9)),
    }

    .backimagetext {
        z-index: 1;
    }

    .crousalimage {
        z-index: 0;
        overflow: hidden;
        @apply h-[25rem];
        @apply w-[40vw];
        @apply rounded-2xl;
        @apply hover:shadow-2xl;
    }

    .crousaltext {
        z-index: 1;
        overflow: hidden;
        @apply h-[25rem];
        @apply w-[40vw];
        @apply p-2;
    }

    h1 {
        @apply text-4xl;
        @apply font-bold;
    }

    h2 {
        @apply text-3xl;
        @apply font-bold;
    }

    h3 {
        @apply font-semibold;
        @apply text-lg;
        @apply md:text-xl;
        @apply lg:text-2xl;
        @apply uppercase;
        @apply text-center;
        @apply mt-5;
    }

    h4 {
        @apply text-2xl;
        @apply font-bold;
    }

    h5 {
        /* Applying Tailwind CSS style as a custom style in all h5 tags */
        @apply underline;
        @apply underline-offset-2;
        @apply font-bold;
        @apply text-xl;
        @apply sm:text-2xl;
        @apply md:text-3xl;
        @apply lg:text-4xl;
        @apply text-yellow;
    }

    h6 {
        @apply font-semibold;
        @apply text-lg;
        @apply md:text-xl;
        @apply lg:text-2xl;
        @apply text-yellow;
        @apply uppercase;
    }

    input {
        @apply rounded-md;
        @apply px-4;
        @apply py-2;
        @apply text-black;
        @apply outline-yellow;
    }

    textarea {
        @apply rounded-md;
        @apply px-4;
        @apply py-2;
        @apply text-black;
        @apply outline-yellow;
    }

    select {
        @apply rounded-md;
        @apply px-4;
        @apply py-2;
        @apply text-black;
        @apply outline-yellow;
    }

    option {
        @apply hover:bg-yellow;
        @apply hover:text-yellow;
    }

    button {
        @apply font-semibold;
        @apply rounded-full;
        @apply px-4;
    }

    .custom-button-1 {
        @apply bg-yellow;
        @apply hover:bg-black;
        @apply text-black;
        @apply hover:text-white;
        @apply border-2;
        @apply border-yellow;
        @apply w-32;
        @apply h-10;
    }

    .custom-button-2 {
        @apply bg-black;
        @apply hover:bg-yellow;
        @apply text-white;
        @apply hover:text-black;
        @apply border-2;
        @apply border-yellow;
        @apply hover:border-black;
        @apply w-72;
        @apply h-10;
        @apply mx-16;
    }

    .custom-button-3 {
        @apply bg-black;
        @apply hover:bg-slate-100;
        @apply text-white;
        @apply hover:text-black;
        @apply border-2;
        @apply border-black;
        @apply w-44;
        @apply h-12;
        @apply mx-16;
    }

    .button-transition{
        @apply transition-all;
        @apply duration-500;
        @apply transition;
        @apply ease-in-out;
        @apply delay-150;
        @apply hover:-translate-y-1;
        @apply hover:scale-110;
        @apply duration-300;
    }

    /* Footer Section starts*/

    .footer-section-description {
        @apply col-span-6;
        @apply md:col-span-6;
        @apply lg:col-span-2;
    }

    .footer-description-heads {
        @apply text-white;
        @apply mt-5;
        @apply mb-3;
    }

    .footer-a-links a {
        @apply hover:text-amber-500;
        @apply hover:bg-black;
    }

    /* Footer Section ends*/
}

@layer utilities {
    .font-cursive {
        font-family: cursive;
    }

    .font-delicious {
        font-family: 'Delicious Handrawn', cursive;
    }
}